div{
	width: 200px;
	height: 200px;
}
.amarillo{
	background: yellow;
	position: absolute;
	left: 0;
	top: 0;
}
.azul{
	background: #2E64FE;
	position: absolute;
	right: 0;
	top: 0;
}
.rosa{
	background: #F781D8;
	position: absolute;
	left: 0;
	bottom: 0; 
}
.verde{
	background: green;
	position: absolute;
	right: 0;
	bottom: 0; 
}

